<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-us" xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
    <title>Online Booking: Search</title>	
	
	<!-- Meta tags -->
	<meta http-equiv="content-language" content="en-us" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />	
	<meta http-equiv="window-target" content="_top" /> <!-- skip frames -->
	<meta name="robots" content="index,follow" />
	<meta name="keywords" content="booking, hotel, hotels, reservations" />
	<meta name="description" content="Online Booking" />
	
	<!-- Favicons --> 
	<link href="img/favicon.png" rel="shortcut icon" type="image/png" />
	<link href="img/favicon.png" rel="icon" type="image/png" />
	
	{% block stylesheets %}
        	<link href="{{ asset('css/style.css') }}" media="screen" rel="stylesheet" type="text/css" />
			<link href="{{ asset('css/extensions.css') }}" media="screen" rel="stylesheet" type="text/css" /> <!-- browser specific extensions / remove it if you want to validate this document -->
			<link href="{{ asset('css/print.css') }}" media="print" rel="stylesheet" type="text/css" /> <!-- for printing -->
			<!-- Alternate stylesheets/themes -->
			<!--  --><link href="{{ asset('css/orange.css') }}" media="screen" rel="alternate stylesheet" type="text/css" title="orange" /><div class="clear">&nbsp;</div>
        {% endblock %}
        {%  block header_javascripts %}
        	<script src="{{ asset('js/jquery-1.4.2.min.js') }}" type="text/javascript"></script> <!-- Could be loaded remotely from Google CDN : <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script> -->
			<script src="{{ asset('js/jquery.ui.core.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/jquery.ui.widget.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/jquery.ui.tabs.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/jquery.datepick.pack.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/jquery.datepick-en-GB.js') }}" type="text/javascript"></script> <!--  Datepick localisations: http://keith-wood.name/datepick.html -->
			<script src="{{ asset('js/jquery.imgpreview.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/jquery.nyroModal.pack.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/jquery.notice.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/jquery.cycle.pack.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/jquery.notice.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/custom.js') }}" type="text/javascript"></script>
			<!-- Internet Explorer Fixes --> 
			<!--[if IE]>
			<link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/ie.css') }}"/>
			<![endif]-->
			<!--Upgrade MSIE5.5-7 to be compatible with MSIE8: http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE8.js -->
			<!--[if lt IE 8]>
			<script src="{{ asset('js/IE8.js') }}"></script>
			<![endif]-->
 
        {% endblock %}
	
	
</head>

<body>
	
<div class="container container_12">
	<!-- Header -->
	<div class="grid_12">
		<!-- Logo container -->
		<div id="logo"></div>
		
		<!-- Aside menu -->
		<div id="topmenu" class="tr">
			<form method="get" action="">
			<select class="smallselect" name="lang" id="lang" onchange="$(this).parent().submit();">
					<option value="en" selected="selected">English</option>
					<option value="de">Deutch</option>
					<option value="es">Español</option>
				</select>
				<select class="smallselect" name="currency" id="currency" onchange="$(this).parent().submit();">
					<option value="usd" selected="selected">US Dollar (US$)</option>
					<option value="eur">Euro (&euro;)</option>
					<option value="gbp">Pound sterling (&pound;)</option>
				</select>
				<!-- Theme switcher - only for theme demonstration - can be removed -->
				<select class="smallselect" name="style" id="style" onchange="chooseStyle(this.value, 60);">
					<option value="none">CSS: Default</option>
					<option value="orange">CSS: Orange</option>
					<option value="pink">CSS: Pink</option>
					<option value="red">CSS: Red</option>
					<option value="blue">CSS: Blue</option>
					<option value="brown">CSS: Brown</option>
					<option value="cyan">CSS: Cyan</option>
					<option value="purple">CSS: Purple</option>
				</select>
			</form>
		</div>
		<!-- End of Aside menu -->
		
		<!-- Main navigation -->
		<div class="radius" id="navigation">
			{% include "ResponseFrontBundle:Default:navigation.html.twig" %}
		</div>
		<!-- End of Main navigation -->
		
	</div>
	<!-- End of Header -->
	
	<!-- Left column -->
	<div class="grid_4" id="leftcolumn">
		<div class="box radius">
			 
			<!-- Refine your search boxes -->
			<div class="padded">
				<h2 class="headline radius">Дестинации:</h2>

				 
				<div class="content-box radius">
					 
					<div class="section">
						{% render controller("ResponseFrontBundle:Default:destinations") %}
					</div>
				</div>
				 
			</div>
			<!-- End of Refine your search boxes -->

			 
		</div>
		<div class="">&nbsp;</div>
		
		 
	</div>
	<!-- End of Left column -->
	
	<!-- Right column -->
	<div class='grid_8 searchpanel'>
		{% block body %}
		{% endblock %}	
	</div>
	
	<p>&nbsp;</p>
	<div class="clear">&nbsp;</div>
	
</div>
<!-- End of Right column -->
 
  

<!-- Subfooter -->
<div id="subfooter">
	<div class="container_12 padded">
		<div class='grid_12'>
			<h5 class="tc">При нас е най-изгодно!</h5>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
</div>
<!-- End of Subfooter -->
<!-- Footer -->
<div id="footer">
	<div class="container_12 padded">
		<div class="grid_3">
			<h3>Почивки-Турция.com</h3>
			<p class="small">Copyright &copy; 2010 <b>Voyage Ltd</b><br />All rights reserved.</p>
			<p class="small">Резервирай онлайн или на телефон: <b>0878 878 540</b></p>
			<a href="http://www.facebook.com/Pochivki.Turkey"><img src="http://xn----ctbrbbjzhptl1be6j.com/img/social/facebook.png" alt="facebook" /></a> 
			<p class="small"><a href="http://xn----ctbrbbjzhptl1be6j.com/#">Sitemap</a> &middot; <a href="http://xn----ctbrbbjzhptl1be6j.com/#">Blog</a></p>
		</div>
		<div class='grid_3'>
			<h3>Почивки</h3>
			<ul>
				<li><a href="http://xn----ctbrbbjzhptl1be6j.com/#">Почивки в Анталия</a></li>
				<li><a href="http://xn----ctbrbbjzhptl1be6j.com/#">Почивки в Мармарис</a></li>
				<li><a href="http://xn----ctbrbbjzhptl1be6j.com/#">Почивки в Кушадасъ</a></li>
				<li><a href="http://xn----ctbrbbjzhptl1be6j.com/#">Почивки в Бодрум</a></li>
                <li><a href="http://xn----ctbrbbjzhptl1be6j.com/#">Почивки в Айвалък</a></li>
                <li><a href="http://xn----ctbrbbjzhptl1be6j.com/#">Почивки в Дидим</a></li>
                <li><a href="http://xn----ctbrbbjzhptl1be6j.com/#">Почивки в Фетие</a></li>
                <li><a href="http://xn----ctbrbbjzhptl1be6j.com/#">Почивки в Чешме</a></li>
			</ul>
		</div>
		<div class='grid_3'>
			<h3>Информация</h3>
			<ul>
				<li><a href="http://xn----ctbrbbjzhptl1be6j.com/aboutus.php">За Нас</a></li>
				<li><a href="http://xn----ctbrbbjzhptl1be6j.com/contacts.php">Контакти</a></li>
				<li><a href="http://xn----ctbrbbjzhptl1be6j.com/docs.php">Документи</a></li>
				<li><a href="http://xn----ctbrbbjzhptl1be6j.com/conditions.php">Правила и условия за пътуване</a></li>
			</ul>
            <p><img src="http://xn----ctbrbbjzhptl1be6j.com/img/cards.png"/></p>
		</div>
		<div class='grid_3'>
			<h3>Почивки-Турция.com</h3>
 Един продукт на VoyageLtd.
	<p style="margin-left:40px;"><img src="http://xn----ctbrbbjzhptl1be6j.com/img/logo.png" width="80" /></p>
        
         </div>
		<div class="clear">&nbsp;</div>
        Всички цени се заплащат в лева по курса на БНБ за деня в брой, по банков път или с кредитна/дебитна карта. Върху офертните цени не се начислява ДДС. Фактури се издават с неначисляване.
Застраховка "Отговорност на туроператора", застрахователна полица 1329 223 13 00001/21.03.2013 до 20.03.2014 на ЗАД Виктория, София 1000, ул. Екзарх Йосиф 65
	</div>
</div>
<!-- End of Footer --><!-- End of Footer -->


<!-- Scroll to top link -->
<a href="#" id="totop" class="radius" title="back to top"><img src="{{ asset("img/top.png") }}" alt="back to top" /></a>


<script type="text/javascript">
$(function($){
	var $menu = $('#nav');		
	$menu.children('li').each(function(){
		var $this = $(this);

		var submenu = $this.find('.dropdown_submenu');
		if (submenu.length) {
			submenu.parents('ul, div').css('z-index', 2000); // z-index hack for IE7
			$this.bind('mouseenter',function(){
				submenu.slideDown().css('z-index', 1000); // z-index hack for IE7
			}).bind('mouseleave',function(){
				submenu.fadeOut('fast');
			});
		}		
	});

});

</script>
</body>
</html>