<table class="full">
							<tbody>
								{% for destination in destinations %}
								<tr>
									<td colspan="2"><a href="{{ path('offer_destination', {'destinationId': destination.id}) }}">{{ destination.name }}</a></td>									 
								</tr>
								{% endfor %}								
							</tbody>
						</table>