{% extends "::base.html.twig" %}

{% block body %}  
	 	 
		<h3 class="">{% if offer is empty %}Почивки в Турция{% else %}{{ offer.name }}{% endif %}</h3>
		
		<div class="infopanel padded">
			<p>{{ offer.textOffer }}</p>
			<p>{{ offer.days }}</p>
		</div>
		
		
		{%  if offer.images %}
			{%  for image in offer.images %}
				 
				{%  if image.localSrc %}
					{%  if loop.index != 1 %}
					<a class="previewimg nyroModal fl" href="{{ asset('/uploads/saved_from_web/' ~ image.localSrc ) | apply_filter('hotel_big')}}" title="{{ offer.name }} Снимка {{ loop.index }}"><img src="{{ asset('/uploads/saved_from_web/' ~ image.localSrc ) | apply_filter('hotel_thumb')}}" alt="{{ offer.name }} Снимка {{ loop.index }}" /></a>
					{%  else  %}
						<a class="previewimg nyroModal fl" href="{{ asset('/uploads/saved_from_web/' ~ offer.getMainImage.localSrc ) | apply_filter('hotel_big')}}" title="{{ offer.name }} Снимка {{ loop.index }}"><img src="{{ asset('/uploads/saved_from_web/' ~ offer.getMainImage.localSrc ) | apply_filter('hotel_big')}}" alt="{{ offer.name }}" /></a>
						<div class="clear">&nbsp;</div> <br /><br />
					{%  endif %}
				{%  endif %}
			 
			{% endfor %}			
		{% endif %}
		
		<div class="clear">&nbsp;</div>
						
		{%  for hotel in offer.hotels %}
		<div class="infopanel padded">
		 
		<a class="previewimg nyroModal fl" href="{% if hotel.getMainImage %}{{ asset('/uploads/saved_from_web/' ~ hotel.getMainImage.localSrc ) | apply_filter('hotel_big')}}{%  endif %}" title="Hotel Name"><img src="{% if hotel.getMainImage %}{{ asset('/uploads/saved_from_web/' ~ hotel.getMainImage.localSrc ) | apply_filter('hotel_thumb')}}{%  endif %}" alt="" /></a>
		  
		 
		<h3><a href="{{ path('hotel_details', { 'id': hotel.id } ) }}">{{ hotel.name }}</a></h3>
		<div class="address">{{ offer.destination.name }} <strong>Цена от {{ hotel.price }}</strong></div>
		
		<p> {{ hotel.hotelText | truncate(200) }} <a href="{{ path('offer_details', { 'id': offer.id } ) }}">още &raquo;</a></p>
		 
		<div class="clear">&nbsp;</div>
	</div>
	{%  endfor %}
		
	<!-- <p class="box padded"><span class="fr"><a href="#">Next page &gt;</a></span><a href="#">&lt; Previous page</a></p>  -->
		
	<div class="clear">&nbsp;</div>
{% endblock %}