{%  extends "::base.html.twig" %}

{% block body %}

<!-- Right column -->	

		<h1 class="">{{ hotel.name }}</h1>		
		
		<p><em>{{ hotel.offer.destination.name }}</em></p>
		
		<!-- Tabs -->
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Информация за хотела</a></li>
				 
			</ul>
			<!-- Tab 1: Hotel Overview -->
			<div id="tabs-1">
				<div class="infopanel padded">
					
					<p class="tj">
						{%  if hotel.getMainImage %}<img src="{{ asset('/uploads/saved_from_web/' ~ hotel.getMainImage.localSrc ) | apply_filter('hotel_big')}}" alt="" class="w12 big" />{% endif %}
					{{ hotel.hotelText }}
					</p>
					
					<div class="clear"></div><br><br>
					<div class="tc box padded">
					{%  if hotel.images %}
						{%  for image in hotel.images %}
							{% if loop.index != 1 %}
							{%  if image.localSrc %}
								<a href="{{ asset('/uploads/saved_from_web/' ~ image.localSrc ) | apply_filter('hotel_big')}}" class="nyroModal" title="Hotel Name" rel="gal"><img class="small" src="{{ asset('/uploads/saved_from_web/' ~ image.localSrc ) | apply_filter('hotel_thumb')}}" alt="" /></a>
							{% endif %}								
							{% endif %}
						{% endfor %}
					{%  endif %}
					</div>
					
					
					{% if prices is not empty %}
					{%  for price in prices %}
					    <h6 class="availability">{{ price[0][0].roomType }}</h6>
					     <h6 class="room_type_title">{% if hotel.titles[loop.index - 1] is not empty %}{{ hotel.titles[loop.index - 1] }} {% endif %}</h6>
					    <div style="overflow-x: scroll">
						<table class="full box" cellpadding="2" cellspacing="2">
						
							{% for subprice in price %}							
							{% if loop.index == 1 %}
							<tr class="bold">
								<td></td>
								{% for metasubprice in subprice %}
									<td>{{ metasubprice.title }}</td>
								{%  endfor %}
							</tr>
							{% endif %}
							<tr>
								
								{% for metasubprice in subprice %}
									{% if loop.index == 1 %}
										<td>{{ metasubprice.dateAt.format('d.m.Y') }}</td>
									{% endif %}
									<td><a href="{{ metasubprice.buildLink }}">{{ metasubprice.price }}</a></td>
								{%  endfor %}
							</tr>
							{% endfor %}
						</table>
						</div>
					{% endfor %}
					{% endif %}
				
					
				</div>
			</div>
			<!-- End of Tab 1: Hotel Overview -->
			

		</div> 
		<!-- End of Tabs -->
		
		<!-- Shortcut buttons -->
		<!-- 
		<div class="fr">
			<button class="box radius" title="Print this page" onclick="window.print();"><img src="img/print.gif" alt="Print" /></button>
			<button class="box radius" title="Email to a friend"><img src="img/email.gif" alt="Email" /></button>
			<button class="box radius" title="Bookmark"><img src="img/bookmark.gif" alt="Bookmark" /></button>
		</div>
		 -->
		<!-- End of Shortcut buttons -->
		
		<div class="clear">&nbsp;</div>
		<p>&nbsp;</p>
{%  endblock %}