						{% if bus %}
						<ul>
						
							<li class="dropdown_heading">Автобус</li>
							{% for b in bus %}
							<li><a href="{{ path('offer_destination', {'destinationId': b.destination.id, type: 'автобус' }) }}">{{ b.destination.name }}</a></li>
							{% endfor %}							
						</ul>
						{% endif %}
						
						{% if flightVarna %}
						<ul>
						
							<li class="dropdown_heading">Самолетен билет от Варна</li>
							{% for b in flightVarna %}
							<li><a href="{{ path('offer_destination', {'destinationId': b.destination.id, type: 'самолет от варна'}) }}">{{ b.destination.name }}</a></li>
							{% endfor %}							
						</ul>
						{% endif %}
						
						{% if flightSofia %}
						<ul>
						
							<li class="dropdown_heading">Самолетен билет от София</li>
							{% for b in flightSofia %}
							<li><a href="{{ path('offer_destination', {'destinationId': b.destination.id, type: 'самолет от софия'}) }}">{{ b.destination.name }}</a></li>
							{% endfor %}							
						</ul>
						{% endif %}
						
						{% if ownTransport %}
						<ul>
						
							<li class="dropdown_heading">Собствен Транспорт</li>
							{% for b in ownTransport %}
							<li><a href="{{ path('offer_destination', {'destinationId': b.destination.id, type: 'собствен'}) }}">{{ b.destination.name }}</a></li>
							{% endfor %}							
						</ul>
						{% endif %}
						
						<a class="dropdown_subfoot" href="#">&nbsp;</a>