<ul id="nav">
				<li class="current_page_item"><a href="#" title="Home">Начало</a></li>
				<li class="">
					<a title="Destinations" href="#">Дестинации</a>
					<!-- Dropdown menu -->
					<div class="dropdown_submenu tripple">
					{%  render controller("ResponseFrontBundle:Default:menu") %}
						
					</div>				
					<!-- End of Dropdown menu -->
				</li>
				{# 
				<li class=""><a title="Hotel Guides" href="#">Hotel Guides</a></li>
				<li class=""><a title="Vacation Ideas" href="#">Vacation Ideas</a></li>
				<li class="separator">&nbsp;</li>
				<li class=""><a title="My Bookings" href="#">My Bookings</a></li>
				<li class="separator">&nbsp;</li>
				<li class="">
					<a title="My Bookings" href="#">Sample Pages</a>
					<!-- Dropdown menu -->
					<div class="dropdown_submenu double">
						<ul>
							<li class="dropdown_heading">Hotels</li>
							<li><a href="index.htm">Homepage</a></li>
							<li><a href="search.htm">Search hotels</a></li>
							<li><a href="browse.htm">Browse destinations</a></li>
							<li><a href="hotel.htm">Hotel data</a></li>
							<li><a href="print-map.htm">Print preview</a></li>
							<li><a href="checkout.htm">Checkout</a></li>
						</ul>
						<ul>
							<li class="dropdown_heading">Misc</li>
							<li><a href="contact.htm">Contact page</a></li>
							<li><a href="faq.htm">FAQ</a></li>
							<li><a href="full.htm">Full width page</a></li>
							<li><a href="sitemap.htm">Sitemap</a></li>
							<li><a href="typography.htm">Typography</a></li>
						</ul>
					</div>				
					<!-- End of Dropdown menu -->
				</li>
				#}
			</ul><!-- /#nav -->